<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <from>
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" #password required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-buttons>
          <ion-button type="submit" (click)="onLogin(email, password)" expand="block">
            Register
          </ion-button>
        </ion-buttons>
      </ion-col>
    </ion-row>
    <span class="divider line one-line">or</span>
    <ion-row>
      <ion-col>
        <ion-button  type="submit" color="danger" (click)="onLoginGoogle(email, password)" expand="block">
          Ingresar con google
        </ion-button>
      </ion-col>
    </ion-row>
  </from>
</ion-content>
